*Importing Libraries*

In [23]:
import pandas as pd
import os

*Moving to data Folder*

In [2]:
#Run this shell once
%cd ../..
%cd data
!ls

/Users/mubasir/Desktop/ONDC-hackathon
/Users/mubasir/Desktop/ONDC-hackathon/data
stores_inventory-Sheet.csv

In [49]:
inventory_dataset = pd.read_csv("stores_inventory-Sheet.csv")
inventory_dataset.head()

,date,product name,p _ category,store_id,city / District,eonomical crisis,health crisis,festivals in region,weather,population density,lot size
0,01/01/2020,Rice,Consumable,mum-str-1,Mumbai,Low,Low,"New Year ,Makar Sankranti",Winter,25357,100.0
1,01/02/2020,Rice,Consumable,mum-str-1,Mumbai,Low,Low,NaN,Summer,25357,120.0
2,01/03/2020,Rice,Consumable,mum-str-1,Mumbai,Low,Medium,Gudhi Padwa,Summer,25357,130.0
3,01/04/2020,Rice,Consumable,mum-str-1,Mumbai,High,High,NaN,Summer,25357,150.0
4,01/05/2020,Rice,Consumable,mum-str-1,Mumbai,High,High,NaN,Summer,25357,145.0

In [50]:
inventory_dataset.columns

Index(['date', 'product name', 'p _ category', 'store_id', 'city / District ',
       'eonomical crisis', 'health crisis', 'festivals in region ', 'weather',
       'population density', 'lot size '],
      dtype='object')

*We have inventory data of two location*

In [51]:
inventory_dataset['city / District '].value_counts()

Mumbai      216
Kolkatta    216
Name: city / District , dtype: int64

*We have inventory data of four Kirana stores*

In [52]:
inventory_dataset["store_id"].value_counts()

mum-str-1    108
kol-str-1    108
mum-str-2    108
kol-str-2    108
Name: store_id, dtype: int64

*We hace two stores from each location*

In [53]:
inventory_dataset[['city / District ', 'store_id']].value_counts()

city / District   store_id
Kolkatta          kol-str-1    108
                  kol-str-2    108
Mumbai            mum-str-1    108
                  mum-str-2    108
dtype: int64

*Extracting Each store data*

In [54]:
inventory_dataset['p _ category'] = inventory_dataset['p _ category'].apply(lambda x: "Non-Consumable" if x == "Non Consumable" else x)
inventory_dataset["p _ category"].value_counts()

Consumable        288
Non-Consumable    144
Name: p _ category, dtype: int64

In [55]:
inventory_dataset['health crisis'] = inventory_dataset['health crisis'].apply(lambda x: "High" if x == "HIgh" else x)
inventory_dataset["health crisis"].value_counts()

Low       180
High      144
Medium    108
Name: health crisis, dtype: int64

In [46]:
kolkata_store1_data = inventory_dataset[inventory_dataset["store_id"] == "kol-str-1"]
kolkata_store2_data = inventory_dataset[inventory_dataset["store_id"] == "kol-str-2"]
mumbai_store1_data = inventory_dataset[inventory_dataset["store_id"] == "mum-str-1"]
mumbai_store2_data = inventory_dataset[inventory_dataset["store_id"] == "mum-str-2"]
kolkata_store1_data.reset_index(inplace = True, drop = True)
kolkata_store2_data.reset_index(inplace = True, drop = True)
mumbai_store1_data.reset_index(inplace = True, drop = True)
mumbai_store2_data.reset_index(inplace = True, drop = True)

*Storing Each store's data into disk*

In [47]:
if not os.path.exists("store_data"):
    os.mkdir("store_data")

In [48]:
kolkata_store1_data.to_csv("store_data/kol-str-1.csv", index=False)
kolkata_store2_data.to_csv("store_data/kol-str-2.csv", index=False)
mumbai_store1_data.to_csv("store_data/mum-str-1.csv", index=False)
mumbai_store2_data.to_csv("store_data/mum-str-2.csv", index=False)