In [1]:
import pandas as pd
import os

In [2]:
#Run this shell once
%cd ../..
%cd data
!ls

/Users/mubasir/Desktop/ONDC-hackathon
/Users/mubasir/Desktop/ONDC-hackathon/data
store_data                    stores_inventory_Logistic.csv
stores_inventory-Sheet.csv

In [3]:
logistic_dataset = pd.read_csv("stores_inventory_Logistic.csv")
logistic_dataset.head()

,Date,Logistic Partner,Distance in km,City,weather,Wieght,Holiday,Population Density,Charge / Cost in Rupees
0,01/01/2021,E-Kart,4,Mumbai,winter,25,no,25357,149.357
1,01/02/2021,E-Kart,4,Mumbai,winter,20,no,25357,129.357
2,01/03/2021,E-Kart,4,Mumbai,winter,19,yes,25357,125.357
3,01/04/2021,E-Kart,4,Mumbai,winter,18,no,25357,121.357
4,01/05/2021,E-Kart,4,Mumbai,winter,16,no,25357,113.357

In [4]:
logistic_dataset.shape

(2190, 9)

In [5]:
logistic_dataset.columns

Index(['Date', 'Logistic Partner ', 'Distance in km', 'City', 'weather ',
       'Wieght', 'Holiday', 'Population Density', 'Charge / Cost in Rupees'],
      dtype='object')

In [6]:
logistic_dataset["Logistic Partner "].value_counts()

E-Kart     730
E-Com      730
E-Dlvry    730
Name: Logistic Partner , dtype: int64

In [7]:
logistic_dataset["City"].value_counts()

Mumbai     1095
Kolkata    1095
Name: City, dtype: int64

In [8]:
logistic_dataset["weather "].value_counts()

summer    732
winter    567
Rainy     369
rainy     369
Mumbai    153
Name: weather , dtype: int64

In [11]:
logistic_dataset['weather '] = logistic_dataset['weather '].apply(lambda x: "rainy" if x == "Rainy" else x)
logistic_dataset['weather '] = logistic_dataset['weather '].apply(lambda x: "winter" if x == "Mumbai" else x)
logistic_dataset["weather "].value_counts()

rainy     738
summer    732
winter    720
Name: weather , dtype: int64

In [12]:
logistic_dataset["Holiday"].value_counts()

no     1734
yes     456
Name: Holiday, dtype: int64

In [13]:
E_Kart_dataset = logistic_dataset[logistic_dataset["Logistic Partner "] == "E-Kart"]
E_Com_dataset = logistic_dataset[logistic_dataset["Logistic Partner "] == "E-Com"]
E_Dlvry_dataset = logistic_dataset[logistic_dataset["Logistic Partner "] == "E-Dlvry"]


E_Kart_dataset.reset_index(inplace = True, drop = True)
E_Com_dataset.reset_index(inplace = True, drop = True)
E_Dlvry_dataset.reset_index(inplace = True, drop = True)

In [17]:
if not os.path.exists("logistic_data"):
    os.mkdir("logistic_data")

In [ ]:
E_Kart_dataset.to_csv(os.path.join("logistic_data","E-Kart.csv"), index=False)
E_Com_dataset.to_csv(os.path.join("logistic_data","E-Com.csv"), index=False)
E_Dlvry_dataset.to_csv(os.path.join("logistic_data","E-Dlvry.csv"), index=False)